@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: papayawhip;
    min-height: 100vh;
    font-family: 'Dancing Script', cursive;
}
.container {
    border: 10px double blueviolet;
    /* we can't put all sides in one line like margin and padding */
    /* border-top: 10px solid;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid; */
    font-size: 1.5rem;
    margin: 1.5em;
    /* margin: 2em auto; /* center to left and right */
    /* margin: 1.5em 2em 2em; /*top,right-left,bottom*/
    /* margin: 1.5em 2em; /*top-bottom,right-left*/
    /* margin: 1.5em 2em 2em 2em; /*right,top,bottom,left*/ 
    /* margin-top: 1.5em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em; */
    padding: 1.5em;
    /* padding: 1.5em 1.5em 2em 2em; /*right,top,bottom,left*/ 
    outline: 5px solid darkorange;
    outline-offset: -20px;
}
.circle {
    background-color: wheat;
    border: 2px solid darkolivegreen;
    border-radius: 50px;
    margin: 2.5rem auto;
    width: 100px;
    height: 100px;
    outline: 2px solid rebeccapurple;
    outline-offset: 0.5rem;
}
p {
    text-decoration:none;
    text-transform: initial;
    text-align: left;
    text-indent:unset;
    line-height: 1.5;
    letter-spacing: unset;
    word-spacing: unset;
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: underline;
    cursor:pointer;
    color: hsl(219, 57%, 43%);
}
/* a:visited{
    color:saddlebrown;
} */
a:hover,a:focus{
    /* color: hsl(184, 57%, 43%); */
    /* opacity: 0.7; */
    color:hsl(219, 57%, 43%,0.7);
    background-color: violet;
}
a:active{
    color: yellowgreen;
}
section ol {
    list-style-type:lower-alpha;
}
section ul {
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: blueviolet;
    line-height: 1.5;
    /* list-style-image: url(../images/cherry3.png);
    list-style: square url(../images/cherry3.png); */
}

li:nth-child(odd){
    color: magenta;
}

section ul ::marker{
    color:black;
    font-size: 1em;
    content: 'sha-bang--> ';
}
.block{
    width:30vw;
    height:30vw;
    background-color: #000;
    color:white;
    padding:1rem;
}

.left {
    float: left;
    margin-right: 1em;
}
/* .float p {
    margin-left: 1em;
} It will not work because margin will span from left side of float and para is on right */
/* .clear{
    clear:both;
} /*It is way to clear data from float but it doesn't span the background for float As it depends on the paragraph*/
.right{
    float:right;
    margin-left: 1em;
}
.float {
    background-color: mediumorchid;
    border: 2px solid #000;
    padding: 1em;
    /*overflow: auto; /* old way to span background float*/
    display: flow-root; /* new way to span background across float*/
}